{{ define "index" }}
{{ template "header" . }}
<div class="container">
	<div class="page-header">
		<h1>Welcome</h1>
	</div>
	<a href="1">Click here for page 1</a><br />
	<a href="2">Click here for page 2</a>
</div>
{{ end }}
